<% if name!="mars" %>
<div id="<%= modal %>" class="modal hide fade" >
  <div class="modal-body">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div id="<%= name %>MapCanvas" class="mapCanvas"></div>
  </div>
</div>
<% end %>
