<h1>Mearth</h1>
<h2>Weather on Mars vs Weather on Earth</h2>
<p>A 2013 NASA SpaceApps Challenge comparing the temperature, pressure &amp; wind speed on Mars and tries to match it with somewhere on Earth.</p>
<hr />
<p>More soon...</p>